.container{


    .main-top{
        display: flex;
        align-items: center;
        &__seta{
            padding: 10px;
        }
        &__description{
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #C4C4C4;
            
        }
    }

    .main-title{
        display: flex;
        justify-content: center;
        margin: 80px 0 41px 0;
        &__title{
            font-family: 'Quicksand';
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #292929; 
        }
    }
    .main-global{
        display: flex;
        @media only screen and (max-width:1025px){
            flex-direction: column;
            align-items: center;
        }    
        .main-buttons{
            display: flex;
            flex-direction: column;
            max-width: 270px;
            width: 100%;
            height: 245px;
            margin-right: 32px;
            border-right: 1px solid #E5E5E5;
            @media only screen and (max-width:1025px){
                max-width: 100%;
                border: 0;
                margin: 0;
            }
            &__button{
                list-style-type: none;
                @media only screen and (max-width:1025px){
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    
                }
            }
            &__link{
                display: flex;
                align-items: center;
                padding-left: 16px;
                max-width: 270px;
                width: 100%;
                height: 40px;
                outline: 0;
                text-decoration: none;
                font-size: 16px;
                line-height: 19px;
                pointer-events: none;
                color: #7D7D7D;
                @media only screen and (min-width:1024px){

                    &:hover{
                        font-weight: 700;
                        background: #9ddef0;
                        color: white;
                    }
                }
                @media only screen and (max-width:1025px){
                    max-width: 343px;
                    &:active{
                        font-weight: 700;
                        background: #9ddef0;
                        color: white;
                    }
                }
            }
            .color{
                background: #00C8FF;
                color: #fff;
            }
            
                

        }
        
        .main-texts{
            display: none;
            margin-bottom: 170px;
            @media only screen and(max-width:1025px){
                margin-top: 50px;
                margin-bottom: 149px;
            }

            &__title{
                margin-bottom: 12px;
            
                @media only screen and(max-width:1025px){
                    text-align: center;

                }
            }
            &__description{
                max-width: 715px;
                padding-right: 10px;
                width: 100%;
                height: 223px;
                font-weight: 400;
                font-size: 13px;
                line-height: 15px;
                color: #7D7D7D;
                overflow: auto;
                @media only screen and(max-width:1025px) {
                    max-width: 600px;
                    height: 344px;
                }
            }
        }
        .abrir{
            display: block;
            &__button{
                &:active .abrir-form{
                    display: none;
                }
            }
        }
        .abrir-form{
            display: block;
            &__button{
                &:active .abrir{
                    display: none;
                }
            }
        }
        
    }
}