.container {
    margin: 0 auto;
    padding: 26px 100px 0;
    @media only screen and(max-width:1025px){
        padding: 29px 16px 0;
    }
}

.page-header {
    background: #00C8FF;
    position: relative;
    @media only screen and (max-width:1025px){  
        padding-bottom: 16px;  
    }
    
    .page-header-superior {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 76px;
        @media only screen and (max-width:1025px){
            height: 56px;
        }

        &__menu-mobile {
            @media only screen and(min-width:1024px){
                display: none;
            }
            
            .menu-button-mobile {
                background: transparent;
                outline: 0;
                border: 0;
            }
        }
        &__div-input {
            max-width: 270px;
            width: 100%;
            position: relative;
            .input {
                background: #fff;
                border: 2px solid #F0F0F0;
                border-radius: 5px;
                max-width: 264px;
                height: 32px;
                width: 100%;
                outline: 0;
                padding: 0 12px;

                &:placeholder {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #C4C4C4;
                }

            }   
            .lupa-busca {
                left: 88%;
                position: absolute;
                top: 6px;
                    
            }

            @media only screen and (max-width:1025px){
                display: none;

            }    
        }
        &__shopping-cart {
            
            
            .shopping-cart-button{
                border: 0;
                outline: 0;
                margin-right: 40px;
                background: transparent;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                cursor: pointer;
                color: #fff;
                @media only screen and (max-width:1025px){
                    display: none;
                }
            }
            .images-carts{

                .image-cart {
                    @media only screen and (max-width:1025px){
                        display: none;
                        
                    }
                }
                .image-cart-mobile {
                    @media only screen and(min-width:1024px){
                        display: none;
                    }
                }
            }
        }
        
    }
    
    .header-div-input-mobile {
        position: relative;
        max-width: 500px;
        display: flex;
        margin: 0 auto;
        @media only screen and(min-width:1024px)  {
            &__input,
            &__lupa {
                display: none;
            }
        }
        
        @media only screen and (max-width:1025px){
            
            &__input {
                max-width: 500px;
                width: 100%;
                background: #fff;
                border: 2px solid #F0F0F0;
                border-radius: 5px;
                height: 36px;
                padding-left: 12px;
                width: 100%;
                outline: 0;
                
            }
            &__lupa {
                left: 94%;
                position: absolute;
                top: 9px;
                @media only screen and (max-width:450px) {
                    left: 90%;
            
                }
            }
        }
            

        
            
    }

    .page-header-inferior {
        display: flex;
        border-top: 1px solid #C4C4C4;
        position: relative;
        
        @media only screen and (max-width:1025px) {
            border: 0;
        }
        
        
        .menu-header {
            display: flex;
            padding: 14px 0 0 100px;
            @media only screen and (min-width:1024px){
                
                .menu-links-account {
                    display: none;
                }
                .menu-mobile-top {
                    display: none;
                }
            }

            @media only screen and (max-width:1025px){
                display: flex;
                flex-direction: column;
                position: fixed;
                top: 0;
                left: -9999px;
                width: 100%;
                height: 100%;
                padding: 0;
                background:#00C8FF;
                z-index: 25;
                transition: 0.4s;
                .menu-links-account {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 64px;
                    font-size: 10px;
                    line-height: 12px;
                    color: #fff;
                    background:green;
                    
                    .icon-menu-mobile {
                        padding-right: 16px;
                    }
                }
                &.active{
                    left: 0;
                    transition: 0.6;
                }
            }
        

            .menu-mobile-top{

                &__wrapper {
                    @media only screen and (max-width:1025px){

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: #fff;
                        width: 100%;
                        padding: 20px 16px;
                        height: 66px;

                        .menu-mobile-text {
                            display: flex;
                            align-items: center;
                            line-height: 15px;
                            font-size: 12px;
                            color: #828282;
                            .menu-mobile-image {
                                margin-right: 10px; 
                            }
                        }
                        .menu-mobile-close-button {
                            border: 0;
                            outline: 0;
                            background: transparent;
                        }
                    }
                    
                }
            }
            
            
            
            .content-links {
                display: flex;
                overflow: hidden auto;
                @media only screen and (max-width:1025px){
                    flex: 1;
                    flex-direction: column;
                    position: relative;
                    
                }
                .header-links {
                    @media only screen and (min-width:1024px) {
                        padding-right: 126px;
                    }
                    
                    .link {
                        list-style-type: none;

                        @media only screen and (min-width:1024px){
                            padding: 0 0 12px 0;
                            
                            
                            &:hover  .submenu{
                                opacity: 1;
                                pointer-events: all;
                                
                            }
                            &:hover  .submenu2{
                                opacity: 1;
                                pointer-events: all;
                                
                            }        
                        }
                        @media only screen and (max-width:1025px){
                            border-bottom: 1px solid #e0e0e0;
                            width: 100%;
                            padding: 0 16px;
                            height: 65px;
                        } 
                        
                        .link-a {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            text-transform: uppercase;
                            color: #fff;
                            text-decoration: none;
                            @media only screen and (min-width:1024px){
                                
                                .seta-mobile {
                                    display: none;
                                }
                                &:hover {
                                    text-decoration: underline;
                                    transition: 0.5s;
                                    font-weight: 700;
                                }
                                &::after {
                                    content: attr(title);
                                    display: block;
                                    height: 0;
                                    overflow: hidden;
                                    font-weight: bold;
                                    visibility: hidden;
                                }
                            }
                            @media only screen and (max-width:1025px){
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                height: 100%;
                            }
                            
                            
                        }
                        
                
                    }
                    
                }
                
                
            }
           
           
        }
        
        
    }
    .submenu, .submenu2 {
        position: absolute;
        left: 0;
        width: 100%;

        @media only screen and (min-width:1024px){
            padding-top:30px;
            z-index: 20;
            opacity: 0;
            top: 45px;
            pointer-events: none;
            background: rgba(255, 255, 255, 0.95);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
        }
        @media only screen and (max-width:1025px){
            top: 0;
            background:white;
            opacity: 1;
            pointer-events: all;
            height: 100%;
            overflow: auto;
            left: 100%;
            transition: 0.4s;
            &.is-open, &.Y-Open{
                left: 0;
                transition: 0.6s;
            }

        }
        

        .submenu-return {
            display: none;
            @media only screen and (max-width:1025px){
                height: 44px;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                background-color: #00C8FF;
                display: flex;
                align-items: center;
                padding: 0 40px 0;
                
                &__button {
                    display: flex;
                    align-items: center;
                    outline: 0;
                    border: 0;
                    background-color:#00C8FF;
                    color: black;
                    width: 100%;
                    height: 100%;
                    
                }
                &__image {
                    padding-right: 8px;
                }
            }
            
        }
        .submenu-content {
            padding: 0 40px 40px;
            
            &__title {
                margin-bottom: 8px;
                line-height: 24px;
                font-size: 20px;
                
                @media only screen and (max-width:1025px){
                    text-decoration: underline;
                    padding-top: 20px;
                }
                
            }
            &__wrapper {
                display: flex;
                margin-bottom: 8px;
                @media only screen and (max-width:1025px){
                    
                    display: flex;
                    flex-direction: column;
                }
                
                .submenu-categories {
                    margin-right: 30px;
                    
                    .submenu-category {
                        padding: 8px 0;
                        list-style-type: none;
                        
                        @media only screen and (max-width:1025px){
                            padding:16px 0;
                        }
                        .submenu-category-link {
                            line-height: 15px;
                            font-size: 12px;
                            color: #000000;
                            text-decoration: none;
                        }
                        
                    }
                }
                
            }
            &__see-all {
                line-height: 15px;
                font-size: 12px;
                font-weight: bold;
                color: #000000;
            }
        }
        
       
    }
    
}
