.formulario-contents{
    max-width: 400px;
    width: 100%;
    margin-top: 22px;
    display: none;
    margin-bottom: 117px;
    @media only screen and (max-width:1025px){
        margin-bottom: 31px;
    }
    .formulario{
        width: 394px;
        width: 100%;
        padding-left: 66px;
        @media only screen and (max-width:1025px){
            padding: 0;
        }
        &__title{
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 33px;
            line-height: 23px;
            color: #110D0F;
            @media only screen and (max-width:1025px){
                font-size: 18px;
                line-height: 18px;  
            }
        }
        &__div-inputs{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            position: relative;    
        }
        &__label{
            padding: 13px 0 4px 14px;
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            color: #100D0E;
        }
        .invalid {
            border-color: red;
        }
    
        & input {
            max-width: 392px;
            width: 100%;
            padding:11px 28px;
            border: 1px solid #100D0E;
            border-radius: 25px;
            outline: 0;
        }
        &__error{
            font-size: 12px;
            font-family: monospace;
            color: red;
            position: absolute;
            bottom: -16px;
            right: 34%;
        }
        &__div-declaration{
            display: flex;
            justify-content: center;
            margin: 22px 0 22px 0 ;
            
        }
        #declaration{
            width: 18px;
            height: 18px;
            border: 1px solid #000000;
            border-radius: 3px;
        }
        &__label-declaration {
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            text-decoration-line: underline;
            color: #100D0E;
            padding-right: 12px;
            
            &:active{
                color: #03BFFE;
            }
        }
        &__button{
            max-width: 392px;
            font-weight: 700;
            font-size: 16px;
            line-height: 34px;
            letter-spacing: 0.05em;
            color: #fff;
            width: 100%;
            height: 52px;
            border: 0;
            background: #03BFFE;
            border-radius: 25px;
            transition: 0.1s ease;
            &:active {
                opacity: calc(70%);
                transition: 0.1s ease-in-out;
            }
        }
    }
}