.newsletter{
    position: relative;
    .footer-newsletter{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #E7E7E7;
        border-top: 1px solid #E7E7E7;
        padding: 18px 0;
    
        &__content{
            display: flex;
            flex-direction: column;
            max-width: 480px;
            width: 100%;
            @media only screen and(max-width:1025px){
                max-width: 380px;
                padding: 16px 25px;
            }
        
        }
        &__title {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            padding-bottom: 6px;
            color: #303030;
            @media only screen and(max-width:320px){
                font-size: 14px;
                line-height: 16px;
            }
        }
        .footer-form{
            display: flex;
            justify-content: center;
            width: 100%;
            @media only screen and(max-width:1025px){
                flex-direction: column;
            } 
            &__content-input{
                display: flex;
                flex-direction: column;
                max-width: 344px;
                width: 100%;
                margin-right: 8px;
                position: relative;
            }
            .invalid{
                border-color: red;
            }    
            & input{
                max-width: 344px;
                width: 100%;
                height: 42px;
                border: 1px solid #E5E5E5;
                border-radius: 4px;
                padding-left: 16px;
                margin-right: 8px;
                outline: 0;
                @media only screen and(max-width:1025px){
                    max-width: 326px;
                    margin-bottom: 16px;
                    border-radius: 0px;
                } 
            }
            &__error{
                font-size: 12px;
                font-family: monospace;
                color: red;
                bottom: -16px;
                right: 50%;
                position: absolute;
                @media only screen and(max-width:1025px){
                    bottom: -68px;
                    right: 34%;
                }

            }
            &__button{
                max-width: 126px;
                width: 100%;
                height: 42px;
                border: 0;
                outline: 0;
                background: #00C8FF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                color: #fff;
                transition: 0.1s ease;
                &:active{
                    opacity: calc(70%);
                    transition: 0.1s ease-in-out;
                }
                @media only screen and(max-width:1025px){
                    max-width: 326px;
                    border-radius: 0px;
                    font-size: 14px;
                    line-height: 16px;
                    
                } 
            }
        }
        .footer-image-direita{
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 14px;
            top:-22px;
            &__div-seta {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 37px;
                margin-top: 12px;
                width: 100%;
                height: 37px;
                border: 0.8px solid #fff;
                border-radius: 50%;
                background: #C4C4C4;
            }
        }
        
    
    }
}
