.footer  {
    
    .newsletter-image-direita{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 14px;
        top:-22px;
        @media only screen and(max-width:1025px){
            top: -60px;
        }

        &__div-seta {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 37px;
            margin-top: 12px;
            width: 100%;
            height: 37px;
            border: 0.8px solid white;
            border-radius: 50%;
            transition: 0.2s ease;
            background: #C4C4C4;
            &:active{
                max-width: 32px;
                height: 32px;
            }
        }
    }
    .mid-footer {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        
        &__wrapper{
            display: flex;
               
            @media only screen and(max-width:1025px) {
                flex-direction: column;
                width: 100%;
                padding: 0 25px;
            }
        }
        &__options{
            padding-right: 60px;
            
            @media only screen and(max-width:1025px){
                padding: 0;
                
            }

        }

        &__principal{
            display: flex;
            align-items: center;
            padding-bottom: 12px;
            @media only screen and(min-width:1024px){
                & .cruz-mobile {
                    display: none;
                }
            }
            
        }
        
        .links, .links2, .links3 {
            @media only screen and(max-width:1025px){
                display: none;
            }
            .option-link {
                padding-bottom: 12px;
                list-style: none;
                & a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    color: #303030;
                }
            }
        }
        
        
        .aberto, .open, .abrir {
           display: block;  
        }
        
        &__title{
            flex: 1;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            
        }
        
        
    }
    .mid-footer-icons{
        margin-left: 72px;
        @media only screen and(max-width:1025px){
            margin: 0;
        }

        &__icon{
            margin-right: 8px;
            padding-bottom: 30px;
        }
        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #303030;
        }
        @media only screen and(max-width:1025px){
            & p {
                display: none;
            }
        }
    }
    .footer-inferior{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #585858;
        padding: 18px 32px;
        @media only screen and(min-width:1025px){
            margin-top: 51px;   
        }
        @media only screen and(max-width:1025px){
            
            flex-direction: column;
            align-items: center;
            padding: 16px;
        }
        @media only screen and(max-width:500px){
            align-items: flex-start;
        }

        &__text {
            font-weight: 400;
            font-size: 10px;
            max-width: 234px;
            width: 100%;
            line-height: 12px;
            text-transform: capitalize;
            color: #fff;
            @media only screen and(max-width:1025px){
                padding: 12px 0 24px 0;
                
            }

        }
        .icons-cards {
            display: flex;
            align-items: center;
            gap: 11px;
            &__icon{
                @media only screen and(max-width:1025px){
                    width: 31px;
                    height: 17px;
                }   
            }
            
            &__icon-maior{
                @media only screen and(max-width:1025px){
                    width: 45px;
                    height: 28px;
                }
            }
        }
        .icons-cards-desktop{
            @media only screen and(max-width:1025px){
                display: none;

            }
        }
        .icons-cards-mobile{
            flex-wrap: wrap;
            @media only screen and(min-width:1024px){
                display: none;
            }
        }
    }
}